
.custom-dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 30px
  }
  
  .custom-dropdown select {
    background-color: #1abc9c;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em; 
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    
  }
  
  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  
  .custom-dropdown::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
  }
  
.button-style {
    margin-left: 40px;
    margin-right: 60px;
    background-color: #1abc9c;
    
}

a:link {
    text-decoration: none;
}
